{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<main id="main" class="">
  <!-- ======= Breadcrumbs ======= -->
  <br><br>
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact mt-5" data-aos="fade-up">

    <div class="container" data-aos="fade-up">

      <header class="section-header ">
        <!-- <h2>Contact</h2> -->
        <p>Contact Us</p>
      </header>
      <div>
        <iframe style="border:0; width: 100%; height: 350px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div>
      <br><br>
      <div class="row gy-4 costumContact">

        <div class="col-lg-6 ">

          <div class="row gy-4 ">
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>A108 Adam Street,<br>New York, NY 535022</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday<br>9:00AM - 05:00PM</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 ">
          <form name="submit-to-google-sheet" method="post" class="php-email-form" id="contactform">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" required>
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"
                  required></textarea>
              </div>
              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta" data-aos="fade-up">
    <div class="container" data-aos="fade-up" data-aos-delay="200">
      <div class="text-center">
        <h3>WANT TO LEARN FROM US ?</h3>
        <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p> -->
        <a class="cta-btn" href="{{ url_for('contact') }}">Enquire</a>
      </div>
    </div>
  </section>
</main>

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzFtGIANNONcS8VibqtIskWS5y3OcLpYHqMUPWd7Xxd450xHtY5TtbYYcpFE4qcqGzSLQ/exec'
  const form = document.forms['submit-to-google-sheet']


  form.addEventListener('submit', e => {
    e.preventDefault();

    fetch(scriptURL, { method: 'POST', body: new FormData(form) })
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))

    document.getElementById("contactform").reset();

  })
</script>
{% endblock %}
