{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Latest Updates</h2>
    <!-- <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit
        quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> -->
  </div>
</div><!-- End Breadcrumbs -->
<main id="main">
  <!-- ======= Events Section ======= -->
  <section id="events" class="events" data-aos="fade-in">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <!-- enent 1 -->
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{{ url_for('static',filename='assets/img/events-1.jpg') }}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Technical Analysis Training
                  With
                  Introduction to Stock Market
                </a></h5>
              <div class="font-italic text-center">
                <p>Monday, August 26th 2021 at 8.30 A.M </p>
                <p>Monday, August 26th 2021 at 6 P.M</p>
              </div>
              <p class="card-text"> &nbsp;&nbsp; This is a very basic course on Stock Market who wants to start trading
                and investing
                but has not even opened a trading account and doesn't know what Stock Market is and How it works.
                <p>&nbsp;&nbsp;
                  In this course , you will learn basics of stock market, IPO, Trading vs Investment, different types of
                  trading products like Futures and Options , trading styles like intraday, short term, long term and
                  trading methods like candlestick patterns, support and resistance, chart patterns and indicators.
                  Learn how to create your own strategy based on your trading style.
                </p>
              </p>
            </div>
          </div>
        </div>
        <!-- end event -1 -->

        <!-- Event 2 -->
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{{ url_for('static',filename='assets/img/events-2.jpg') }}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">
                  Advanced Options trading training With Introduction to Options Greeks</a></h5>
              <p class="font-italic text-center">
                Saturday, August 21st 2021 at 7.A.M
              </p>
              <p class="card-text">&nbsp;&nbsp;In this course, you will learn the basics of options and how the option
                price is
                defined. Also, Options Greeks (Delta, Gamma, Theta, Vega, Rho) and how options Greeks help us to
                generate consistent income through trading. Learn options buying vs options selling. Learn different
                types of options strategies which can give in to all the market's trends.
                Learn to create your own options trading system to generate regular consistent income from options
                trading.
              </p>
            </div>
          </div>
        </div>
        <!-- end event - 2 -->
      </div>

    </div>
  </section><!-- End Events Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta" data-aos="fade-up">
    <div class="container" data-aos="fade-up" data-aos-delay="200">

      <div class="text-center">
        <h3>WANT TO LEARN FROM US ?</h3>
        <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.</p> -->
        <a class="cta-btn" href="{{ url_for('contact') }}">Enquire</a>
      </div>

    </div>
  </section>
  <!-- End Cta Section -->

</main><!-- End #main -->
{% endblock %}