{% extends "base.html" %}
{% block head %}
{{ super() }}
{% block title %}Stock Market School{% endblock %}
<style>
  p.one {
    border: solid 2px white;
    text-align: center;
    border: solid 2px white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    /* 5px top and bottom, 20px on the sides */
  }

  .one:hover>b {
    color: black !important;
    animation: ease-in-out;
    animation-delay: 1s;
    transition: 0.25s;
  }

  .course-learn-more {
    display: block;
    width: 100px;
    text-align: center;
  }

  .modal-form {
    border-radius: 5px;
  }

  .modal label {
    font-weight: 700;
  }

  .modal-form:active {
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 0 2px rgb(0 102 253 / 55%) !important;
  }

  .modal-form:focus {
    box-shadow: 0 0 0 2px rgb(0 102 253 / 55%) !important;
    border-radius: 5px;
  }

  .modal {
    font-family: "Nunito", sans-serif !important;
    border-radius: 7px;
    overflow: hidden;
    background-color: transparent;
  }

  .modal .logo a img {
    width: 30px;
  }

  .modal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 7px;
  }

  .modal .modal-content .modal-body {
    border-radius: 7px;
    overflow: hidden;
    background-color: #efefef;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
  }

  .modal .modal-content .modal-body h2 {
    font-size: 18px;
  }

  .modal .modal-content .modal-body p {
    color: #777;
    font-size: 14px;
  }

  .modal .modal-content .modal-body h3 {
    color: #012970;
    font-size: 22px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }

  .modal .modal-content .modal-body .close-btn {
    color: #000;
  }

  .modal .modal-content .modal-body .promo-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .modal .cancel {
    color: gray;
    font-size: 14px;
  }

  .close {
    background: white;
    border: none;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .close:hover {
    transform: rotate(30deg);
    color: blue;
    /* font-size: 3px; */
    transition: 0.12s;
  }

  .space {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .submit {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    /* padding: 10px 32px 12px 32px; */
    padding: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 4px;
    transition: 0.5s;
    line-height: 1;
    /* margin: 10px; */
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    text-transform: uppercase;
    border: 3px solid #106eea;
    background: #106eeaf3;

  }

  .submit:hover {
    color: #106eea;
    background: transparent;
    border-color: #106eea;
  }

  .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .video-responsive {
    overflow: hidden;
    padding-bottom: 70%;
    position: relative;
    height: 0;
  }

  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
{% endblock %}


{% block content %}
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModalCenter" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">

      <div class="modal-body py-0">
        <div class="d-flex main-content">
          <div class="container">
            <div class="row">

              <div class="bg-image promo-img col-sm-8 mr-3"
                style="background-image: url(static/assets/img/logo/modal-logo.png);">
              </div>

              <div class="col-sm-6" style="background-color: white;">
                <div class="content-text  p-4">

                  <div style="margin: left 300px;">
                    <!-- <button type="button" id="close" class="close float-end"  data-dismiss="modal">&times;</button> -->
                    <button type="button" class="btn-close float-end" data-bs-dismiss="modal"
                      aria-label="Close"></button>
                  </div>

                  <div class="d-flex justify-content-center">
                    <h3>Enquire Now</h3>
                    <!-- <p>All their equipment and instruments are alive. The sky was cloudless and of a deep dark
                  blue.</p> -->
                  </div>


                  <form id="modal-form" name="submit-to-google-sheet" method="post">
                    <div class="form-row">
                      <div class="form-group input-field space ">
                        <label for="fname">Full Name</label>
                        <div class="d-flex flex-row justify-content-center">
                          <select name="Title" class="form-control  form-select modal-form shadow-sm"
                            style="width: 82px; margin-right: 2px;" id="title" required>
                            <option selected>Title</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Miss">Miss</option>
                            <option value="Dr">Dr</option>
                          </select>
                          <input type="text" class="form-control validate modal-form shadow-sm" id="name" name="name"
                            placeholder="Full Name" required aria-describedby="title">
                        </div>
                      </div>
                    </div>

                    <div class="form-group space ">
                      <label for="name">Email Address</label>
                      <input type="email" class="form-control modal-form shadow-sm" name="email" id="email"
                        placeholder="Enter email" required>
                    </div>
                    <div class="form-group space">
                      <label for="numbers">Phone number</label>
                      <input type="tel" class="form-control modal-form shadow-sm" id="phonenumber" name="phonenumber"
                        placeholder="Enter phone number" aria-required="true" required>

                    </div>
                    <div class="form-group space">
                      <label for="message">Message</label>
                      <textarea name="message" id="message" class="form-control modal-form shadow-sm"
                        placeholder="Message" aria-describedby="helpId" required></textarea>
                    </div>
                    <div class="form-group  d-flex flex-row justify-content-center">
                      <p class="custom-note"><small>By clicking submit I agree to our all the <a
                            href="{{ url_for('terms') }}">Terms and
                            conditions</a></small></p>
                    </div>
                    <div class="form-group d-flex flex-row justify-content-center">
                      <input type="submit" class="btn submit btn-primary btn-block"
                        style="padding: 5px; padding-left: 20px; padding-right: 20px;" onclick="modalCookie();">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======= end modal ======= -->

<!-- ======= Hero Section ======= -->
<section id="hero" data-aos="fade-up">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide bg-body" data-bs-ride="carousel">

      <!-- <ol class="carousel-indicators" id="hero-carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->

      <div class="carousel-indicators" id="hero-carousel-indicators">
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="11" aria-label="Slide 12"></button>
      </div>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-8.jpg);"> -->
        <div class="carousel-item active" data-bs-interval="5000"
          style="background: url(static/assets/assets_carousel/img/slide1.gif);background-repeat: no-repeat;background-size:cover;">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"> Welcome to India’s 1st Trading School <br> - Stock
                Market School - </h2>
              <p><strong>“We know the right way of trading”
                </strong></p>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <!-- <div class="carousel-item active" style="background: url(assets_carousel/img/slide/slide-4.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide2.jpg);background-repeat: no-repeat;background-size:cover; "
          data-bs-interval="5000">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Invest in learning to get high returns.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->

        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-3.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide3.jpg);background-repeat: no-repeat;background-size:cover;"
          data-bs-interval="5000">
          <!-- <div class="carousel-background"><img src="assets_carousel/img/slide/slide-3.jpg" alt=""> -->
          <!-- <div class="carousel-background" style="background-image: linear-gradient(toright, white, white);"></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"
                 >Join us to become Pro of stock market trading.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- slide 4 -->

        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide4.jpg);background-repeat: no-repeat;background-size:cover; "
          data-bs-interval="5000">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Choose the right stock at the right time to get the
                right profits.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 5 -->

        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-3.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide5.jpg);background-repeat: no-repeat;background-size:cover;"
          data-bs-interval="5000">
          <!-- <div class="carousel-background"><img src="assets_carousel/img/slide/slide-3.jpg" alt=""> -->
          <!-- <div class="carousel-background" style="background-image: linear-gradient(toright, white, white);"></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"
                 >Join us to become Pro of stock market trading.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- slide 6 -->

        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide6.jpg);background-repeat: no-repeat;background-size:cover; "
          data-bs-interval="5000">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Learn to trade with accuracy above 90%.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 7 -->

        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-3.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide7.jpg);background-repeat: no-repeat;background-size:cover;"
          data-bs-interval="5000">
          <!-- <div class="carousel-background"><img src="assets_carousel/img/slide/slide-3.jpg" alt=""> -->
          <!-- <div class="carousel-background" style="background-image: linear-gradient(toright, white, white);"></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"
                 >Make Money Consistently in Stock Market.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- slide 8 -->

        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide8.jpg);background-repeat: no-repeat;background-size:cover; "
          data-bs-interval="5000">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Backtest strategies more than a decade.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 9 -->

        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-3.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide9.jpg);background-repeat: no-repeat;background-size:cover;"
          data-bs-interval="5000">
          <!-- <div class="carousel-background"><img src="assets_carousel/img/slide/slide-3.jpg" alt=""> -->
          <!-- <div class="carousel-background" style="background-image: linear-gradient(toright, white, white);"></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"
                 >Learn to Build winning trading system.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>
        <!-- slide 10 -->

        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide10.jpg);background-repeat: no-repeat;background-size:cover; "
          data-bs-interval="5000">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Risk comes from not knowing what you’re doing
                So learn first then earn most.

              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 11 -->

        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-3.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide11.jpg);background-repeat: no-repeat;background-size:cover;"
          data-bs-interval="5000">
          <!-- <div class="carousel-background"><img src="assets_carousel/img/slide/slide-3.jpg" alt=""> -->
          <!-- <div class="carousel-background" style="background-image: linear-gradient(toright, white, white);"></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"
                 >Treat trading like a business, not a hobby or a
                job.
                Learn everything about the business
                .
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 12 -->

        <!-- <div class="carousel-item" style="background: url(assets_carousel/img/slide/slide-3.jpg);"> -->
        <div class="carousel-item"
          style="background: url(static/assets/assets_carousel/img/slide12.jpg);background-repeat: no-repeat;background-size:cover;"
          data-bs-interval="5000">
          <!-- <div class="carousel-background"><img src="assets_carousel/img/slide/slide-3.jpg" alt=""> -->
          <!-- <div class="carousel-background" style="background-image: linear-gradient(toright, white, white);"></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"
                 >Set realistic expectations for your business.
              </h2>
              <p class="animate__animated animate__fadeInUp"></p>
              <div>
                <a href="#team" class="btn-get-started animate__animated animate__fadeInUp scrollto">Learn
                  More</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" onclick="window.location.href='#heroCarousel'" role="button"
        data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-target="#heroCarousel"
        data-bs-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->
<!-- ======= Hero Section ======= -->


<!-- End Hero -->

<main id="main">
  <!-- ================team ============== -->
  <section id="team" class="team section-bg">
    <header class="section-header">

      <p>We teach you how to make profits.</p>
    </header>
    <div class="container" data-aos="fade-up">
      <div class="row d-flex flex-row flex-wrap">
        <div class="col-sm-6 col-lg-6 col-md-12" data-aos="zoom-in" data-aos-delay="200">
          <div class="card member c1 border-0 mb-3 ">
            <div class="row g-0">
              <div class="col-md-4 col-lg-4 col-sm-6">
                <img src="{{ url_for('static',filename='assets/img/19197351-removebg-preview.png') }}"
                  class="img-fluid img-responsive rounded card-img-top h-100 " alt="...">
              </div>
              <div class="col-md-8 col-lg-8">
                <div class="card-body member-info">
                  <h4 class="card-title ">Technical Analysis Course</h4>

                  <p class="card-text">In this course, you will learn about stock market technical analysis from basic
                    to advanced
                    techniques.</p>
                  <div class="course-learn-more">
                    <a href="{{ url_for('course1') }}">
                      <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Learn More</button> -->
                      <p class="one"><b>Learn More</b></p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-md-12" data-aos="zoom-in" data-aos-delay="200">
          <div class="card member c2 border-0 mb-3 ">
            <div class="row g-0">
              <div class="col-md-4 col-sm-6 col-lg-4 ">
                <img src="{{ url_for('static',filename='assets/img/4016345-removebg-preview.png') }}"
                  class="img-fluid img-responsive  rounded card-img-top h-100" alt="...">
              </div>
              <div class="col-lg-8 col-md-8">
                <div class="card-body member-info">
                  <h4 class="card-title">Advanced Options Trading</h4>

                  <p class="card-text">In this course, you will learn about options in-depth including Greeks and
                    making
                    consistent income.</p>
                  <div class="course-learn-more">
                    <a href="{{ url_for('course2') }}">
                      <!-- <button type="button" class="btn btn-outline-secondary btn-sm">Learn More</button> -->
                      <p class="one"><b>Learn More</b></p>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box happy-icons">
            <i class="bi bi-people-fill"></i>
            <div>
              <div class="d-flex flex-row">
                <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1"
                  class="purecounter"></span>
                <span>+</span>
              </div>

              <p>Trained Students</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box happy-icons">
            <i class="bi bi-trophy" style="color: #ee6c20;"></i>
            <div>
              <div class="d-flex flex-row">
                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
                  class="purecounter"></span>
                <span>+</span>
              </div>
              <p>Year of Experience</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box happy-icons">
            <i class="bi bi-briefcase" style="color: #15be56;"></i>
            <div>
              <div class="d-flex flex-row">
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
                  class="purecounter"></span>
                <span>+</span>
              </div>

              <p>Trading Strategies</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box happy-icons">
            <i class="bi bi-calendar3" style="color: #bb0852;"></i>
            <div>
              <div class="d-flex flex-row">
                <span data-purecounter-start="0" data-purecounter-end="2021" data-purecounter-duration="1"
                  class="purecounter"></span>
                <!-- <span>+</span> -->
              </div>

              <p>since</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Counts Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">

    <div class="container" data-aos="fade-up">

      <header class="section-header">

        <p> We offer highly customized services to our clients.</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <!-- <img src="https://bcreactor.com/wp-content/uploads/2018/08/Trainng.png" class="img-fluid" alt=""> -->
          <img src="{{ url_for('static',filename='assets/services.jpg') }}" class="img-fluid" alt="" srcset="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>

                <h3>Training</h3>

                <!-- <div>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisic</p>
                </div> -->

              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Mentorship</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>

                <h3>Support</h3>

              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Intraday strategies</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Short Term strategies</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Right Stock Selection</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Investment Planning</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Live Market Trading</h3>
              </div>

            </div>
          </div>
        </div>
      </div> <!-- / row -->
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Why Us Section ======= -->
  <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container rounded-3">

      <div class="row d-flex flex-lg-row flex-md-column flex-md-wrap ">
        <div class="col-lg-6 col-md-12 col-sm-3 video-box">
          <!-- <img src="assets/img/why-us.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
              data-autoplay="true"></a> -->
          <div class="video-responsive"><iframe style="padding:10px;padding-top: 15px;" width="600" height="450"
              src="https://www.youtube.com/embed/EqUEAk7R9FA?autoplay=1&mute=1" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
              allowfullscreen>
            </iframe></div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-3 d-flex flex-column justify-content-center p-5">
          <div class="title">
            <h3>Learn More About Stock Market School</h3>
          </div>

          <!-- <div class="icon-box">
            <div class="title">
              <h4>Learn More About Stock Market</h4>
            </div>
          </div> -->

          <br><br>
          <div class="icon-box">

            <div class="icon"><i class="fas fa-chart-line"></i></div>

            <h4 class="title"><a href="">Daily Technical Analysis view</a></h4>
            <p class="description">Learn how to analyze before the market opens what the factors can drive the market
              for the day.
              Which are the global markets to watch and how do the global markets impact the indian stock market?
            </p>

          </div>

          <div class="icon-box">
            <div class="icon"><i class="far fa-play-circle"></i></div>
            <h4 class="title"><a href="">Beginners educational videos</video></a></h4>
            <p class="description">We at stock market school provide basics of stock market videos and books for the
              beginners who start learning with us.
            </p>
          </div>

        </div>
      </div>

    </div>
  </section>

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta" data-aos="fade-up">
    <div class="container" data-aos="fade-up" data-aos-delay="200">

      <div class="text-center">
        <h3>WANT TO LEARN FROM US ?</h3>
        <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum.</p> -->
        <a class="cta-btn" href="{{ url_for('contact') }}">Enquire</a>
      </div>

    </div>
  </section>

</main>
<!-- End #main -->
<script>
  $(window).on('load', function () {
    // do something…
    $('.carousel').carousel({
      interval: 5000
    })
    $('.carousel').carousel('cycle')
  });

  // show modal
  $(window).on('load', function () {
    // $('#exampleModalCenter').modal('toggle');
    // setTimeout(function () {
    //   $('#exampleModalCenter').modal('show');

    // }, 4000);
    // if (flag) {
    //   setInterval(function () {
    //     console.log('Modal');
    //     document.getElementById("modal-form").reset();
    //     $('#exampleModalCenter').modal('show');

    //   }, 120000);
    // }
  });

  $(document).ready(function () {
    // alert("close");
    $("#close").click(function () {
      document.getElementById("modal-form").reset();
      $('#exampleModalCenter').modal('hide');
    });
  });
</script>

<!-- modal submit sheet -->
<script>
  var showModal = true;
  const scriptURL =
    'https://script.google.com/macros/s/AKfycbyJv-9g-TmlBn9D2gQVI9pWChzrxtXxYUUN4C3qlMdBljjSJiSzcmP63yTPpQHC_uN4/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    Swal.fire(
      'Good job!',
      'Thanks for your valuable message',
      'success'
    );
    e.preventDefault();
    $('#exampleModalCenter').modal('hide');
    fetch(scriptURL, {
        method: 'POST',
        body: new FormData(form)
      })
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))

    document.cookie = "modal=oldUser";
    showModal = false;
    sendEmail();
  });

  //show modal
  function displayModal() {

    setTimeout(function () {
      if (showModal) {
        // alert(showModal);
        $('#exampleModalCenter').modal('show');
      }
    }, 4000);

    setInterval(function () {
      if (showModal) {
        // alert("interval modal"+showModal);
        console.log('Modal');
        // document.getElementById("modal-form").reset();
        $('#exampleModalCenter').modal('show');
      }
    }, 120000);
    // 120000
  }
  window.addEventListener("load", checkCookies);
  var cookie = document.cookie;
  var output = {};


  function checkCookies() {
    cookie.split(/\s*;\s*/).forEach(function (pair) {
      pair = pair.split(/\s*=\s*/);
      output[pair[0]] = pair.splice(1).join('=');
    });
    var json = JSON.stringify(output, null, 4);
    // console.log(json);
    var obj = JSON.parse(json);
    if ('modal' in obj) {
      // alert(obj['modal']);
    } else {
      if (showModal) {
        displayModal();
      }

    }
  }
</script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
	<script type="text/javascript">
		function sendEmail() {
			userName = document.getElementById("name").value;
      email = document.getElementById("email").value;

			// console.log(userName);
			Email.send({
					Host: "smtp.gmail.com",
					Username: "cloud@bitsathy.ac.in",
					Password: "Cloud@987",
					To: email,
					From: 'cloud@bitsathy.ac.in',
					Subject: "Reply | Stock Market School",
					Body: '<p>Hi <span><strong>' +
						userName +
						'</strong></span>,<p>Thank you for showing interest in learning with us. <br>Our team will get back to you shortly.</p><strong>Thanks <br>Stock Market School</strong>',
				})
				.then(function (message) {
					// alert("mail sent successfully")
				});
		}
	</script>
{% endblock %}