{% extends "base.html" %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <!-- <div class="breadcrumbs"  data-aos="fade-in">
        <div class="container text-center justify-content-center">
            <h2>Term & Condtions and Policies</h2>
        </div>
    </div> -->
    <!-- End Breadcrumbs -->

    <br><br>
    <br>

    <section id="about">
        <div class="container text-center">
            <div class="alert alert-secondary alert-dismissible fade show shadow-sm" role="alert">

                <div class="text-primary"> <span><i class="bi bi-info-circle-fill"></i></span> Please read Privacy
                    Policy</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <!-- <h2>Term and Condtions</h2> -->
                <p>Term & Condtions</p>

            </header>
            <div>
                <p>By using www.stockmarketschool.co.in , you indicate that you accept these terms of use and that
                    you agree to abide by them. If you do not agree to these terms of use, please refrain from using
                    the site. We may revise these terms of use at any time by amending this page.
                </p>
                <p>
                    You can check this page later to check if we made any changes. We aim to update
                    www.stockmarketschool.co.in regularly, and may change the content anytime.
                </p>
                <p>
                    Any of the material on our site may be obsolete and we are under no obligation to update
                    that.Our programs are purely for Education purpose and it is up to understanding and risk taking
                    capacity of an individual that makes him into a Profitable trade. All trades must be protected
                    with Proper stop loss to protect the Capital. Any other professional Advice can be taken. It is
                    each and every person's mental and financial capacity to hold the positions, so better you
                    understand Risk Management.
                </p>
                <p>
                    Trading and Investment involves High Degree of Risk. Past results do not Guarantee your future
                    Return. Protect yourself with Risk Management and Stop Losses because markets can become Extreme
                    Volatile and financial instruments can go up or down resulting in receiving less than you
                    invested.
                </p>



            </div>
            <hr>
        </div>
        <div class="container mt-5" data-aos="fade-up">

            <header class="section-header">
                <!-- <h2>Contact</h2> -->
                <p>Policies</p>
            </header>
            <div>
                <h1 class="display-6">Privacy Policy</h1>
                <!-- <h4>Please read Privacy Policy</h4> -->
                <p>Reservation of Rights
                    We reserve the right to request that you remove all links or any particular link to our Website.
                    We also reserve the right to amend these terms and conditions and it’s linking policy at any
                    time. By continuously linking to our Website, you agree to be bound to and follow these linking
                    terms and conditions.
                </p>
                <p>
                    We do not ensure that the information on this website is correct, we do not warrant its
                    completeness or accuracy; nor do we promise to ensure that the website remains available or that
                    the material on the website is kept up to date.
                </p>
            </div>
            <hr>
            <div>
                <h1 class="display-6">Refund Policy</h1>
                <p>
                    Since our Website offers non-tangible, irrevocable services we do not provide refunds after the
                    service is purchased, which you acknowledge prior to purchasing any service on the Website.
                    Please make sure that you have carefully read the service description before making a purchase.
                </p>
            </div>

        </div>

    </section><!-- End Contact Section -->


</main>
{% endblock %}